<div class="container">
  <div class="posts">
    <% @posts.each do |post| %>
      <%= cl_image_tag post.photo, height: 300, width: 300, crop: :fill %>
      <p><%= post.description %></p>
    <% end %>
  </div>
</div>
