/*// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  margin: 30px;
  margin-top: 75px;
  text-align: center;
}
