/*// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  margin: 30px;
  margin-top: 75px;
  text-align: center;
  background-color: #e8e8ee;
}
body {
  background-color: #e8e8ee;
}

.posts {
  display: flex;
}

.post {
  margin: 10px;
  padding: 10px;
  background-color: white;
}
